mixin head(css, fonts)
	each val in css
		<link href="#{path + val}" rel="stylesheet">
	title= titleLink
	if fonts
		include ../components/__fonts.pug

mixin meta()
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:image" content="#{path}images/common/icon_rel.svg">
	<meta property="og:site_name" content="">
	<meta property="og:title" content="">
	if titlePage == '株式会社BEX'
		- titleLink= titlePage
		<meta property="og:description" content="株式会社BEXは、愛知県内で自動車の設計開発とシステム開発に特化したエンジニアリング企業です">
		<meta name="keywords" content="自動車設計,システム開発,アウトソーシング,技術派遣,技術者,設計,開発,エンジニア,機械設計,ソリューション,採用">
		<meta name="description" content="株式会社BEXは、愛知県内で自動車の設計開発とシステム開発に特化したエンジニアリング企業です">
	else
		- titleLink= titlePage + ' | 株式会社BEX'
		<meta property="og:description" content="#{titleLink}は、自動車設計・システム開発の分野において、顧客企業の良きビジネスパートナーとして信頼いただけるアウトソーシング企業をめざして展開しています。">
		<meta name="keywords" content="自動車設計,システム開発,アウトソーシング,技術派遣,技術者,設計,開発,エンジニア,機械設計,ソリューション,採用">
		<meta name="description" content="#{titleLink}は、自動車設計・システム開発の分野において、顧客企業の良きビジネスパートナーとして信頼いただけるアウトソーシング企業をめざして展開しています。">
	<meta name="title" content="">
	<link rel="icon" href="#{path}images/common/icon_rel.svg">

mixin bannerChild(folderImg, titleEn)
	<section class="hero">
		<figure>
			<img src="#{path}images/#{folderImg}/img_banner.jpg" alt="#{titlePage}">
			<figcaption>
				<h2 class="inview fadeUp">
					<span>#{titleEn}</span> #{titlePage}
				</h2>
			</figcaption>
		</figure>
	</section>

mixin js(js)
	<a class="to-top-button" href="#">top</a>
	each val in js
		<script src="#{path + val}"></script>

mixin blockCommon(golink, textEn, textNihon)
	<section class="external-link inview fadeRight">
		<div class="container-low">
			<a href="#{path + golink}" class="external-link__block">
				<h2>#{textEn}<br>
					<span>#{textNihon}</span>
				</h2>
				<span class="external-link__block__line"></span>
			</a>
		</div>
	</section>

mixin header()
	<header>
		<nav class="nav">
			<h1 class="nav-brand">
				<a href="#{path}index01.html">
					<img src="#{path}images/common/img__.svg" alt="logo">
				</a>
			</h1>
			<div class="navbar">
				<ul class="menu">
					<li class="menu-item active">
						<a class="nav-link" href="#{path}index01.html">TOP</a>
					</li>
					<li class="menu-item drop-menu">
						<a class="nav-link" href="#">BEXの強み</a>
					</li>
					<li class="menu-item drop-menu">
						<a class="nav-link" href="#">人材力と技術領域</a>
					</li>
					<li class="menu-item drop-menu">
						<a class="nav-link" href="#">職場環境</a>
					</li>
					<li class="menu-item drop-menu">
						<a class="nav-link" href="#{path}interview/">エンジニア紹介</a>
						<div class="sub-menu">
							<a href="#{path}interview/01/">People.01</a>
							<a href="#{path}interview/02/">People.02</a>
							<a href="#{path}interview/03/">People.03</a>
							<a href="#{path}interview/04/">People.04</a>
						</div>
					</li>
					<li class="menu-item drop-menu">
						<a class="nav-link" href="#{path}recruit/">採用情報</a>
						<div class="sub-menu">
							<a href="#">新卒募集要項</a>
							<a href="#">中途募集要項</a>
						</div>
					</li>
					<li class="menu-item drop-menu">
						<a class="nav-link" href="#{path}company/">
							| 企業情報
						</a>
					</li>
					<li class="menuline"></li>
				</ul>

			</div>
			<div class="hamburger">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="mark"></div>
		</nav>
	</header>
mixin footer()
	<footer>
		<section class="footer">
			<div class="footer-container">
				<span class="cm-line"></span>
				<div class="wrap-flex">
					<div class="flex-item first-child">
						<h3 class="footer-logo">
							<a href="#">
								<img src="#{path}images/common/icon_logo2.svg" alt="logo">
							</a>
						</h3>
						<p>
							| 株式会社BEX【本社】
						</p>
						<p>〒471-0025</p>
						<p>
							| 愛知県豊田市西町5丁目5番地 ビッツ豊田タウン3F
						</p>
						<p>
							| TEL：0565-31-3820／FAX：0565-31-3833
						</p>
						<figure class="combo-icon">
							<img src="#{path}images/common/img_3icon.png" alt="logo">
						</figure>
						<a class="unlock-button" href="#">
							<img src="#{path}images/common/icon_unlock.svg" alt="icon"> 社員専用ログイン
						</a>
					</div>

					<div class="flex-item second-child only-pc">
						<div class="item cm-title">
							<span class="title">about</span>
							<ul>
								<li class="main-title">
									<a href="#">BEXの強み</a>
								</li>
							</ul>
						</div>
						<div class="item cm-title">
							<span class="title">
								| business
							</span>
							<ul>
								<li class="main-title">
									<a href="#">人材力と技術領域</a>
								</li>
								<li class="">
									<a href="#">BEXエンジニアとは</a>
								</li>
								<li class="">
									<a href="#">技術領域</a>
								</li>
							</ul>
						</div>

						<div class="item cm-title">
							<span class="title">
								| PEOPLE
							</span>
							<ul>
								<li class="main-title">
									<a href="#{path}interview/">エンジニア紹介</a>
								</li>
								<li class="">
									<a href="#{path}interview/01/">PEOPLE 01</a>
								</li>
								<li class="">
									<a href="#{path}interview/02/">PEOPLE 02</a>
								</li>
								<li class="">
									<a href="#{path}interview/03/">PEOPLE 03</a>
								</li>
								<li class="">
									<a href="#{path}interview/04/">PEOPLE 04</a>
								</li>
							</ul>
						</div>
						<div class="item cm-title">
							<span class="title">wLB</span>
							<ul>
								<li class="main-title">
									<a href="#">職場環境</a>
								</li>
								<li class="">
									<a href="#">働く環境</a>
								</li>
								<li class="">
									<a href="#">研修・キャリア</a>
								</li>
								<li class="">
									<a href="#{path}career/welfare/">福利厚生</a>
								</li>
							</ul>
						</div>

						<div class="item cm-title">
							<span class="title">recruit</span>
							<ul>
								<li class="main-title">
									<a href="#{path}recruit/">採用情報</a>
								</li>
								<li class="">
									<a href="#">新卒募集要項</a>
								</li>
								<li class="">
									<a href="#{path}recruit/mid/">中途募集要項</a>
								</li>
							</ul>
						</div>
						<div class="item cm-title">
							<span class="title">company</span>
							<ul>
								<li class="main-title">
									<a href="#{path}company/">企業情報</a>
								</li>
								<li class="">
									<a href="#{path}company/message/">ご挨拶</a>
								</li>
								<li class="">
									<a href="#{path}company/info/">企業概要</a>
								</li>
								<li class="">
									<a href="#{path}company/history/">沿革</a>
								</li>
								<li class="">
									<a href="#{path}company/access/">アクセス</a>
								</li>
								<li class="">
									<a href="#">CSR</a>
								</li>
								<li class="">
									<a href="#">i-ROAD</a>
								</li>
							</ul>
						</div>
						<div class="item cm-title">
							<span class="title">news</span>
							<ul>
								<li class="main-title">
									<a href="#{path}news/">ニュース</a>
								</li>
								<li class="">
									<a href="#{path}recruit/news_article/">ニュース一覧</a>
								</li>

							</ul>
						</div>
						<div class="item">
							<ul>
								<li class="">
									<a href="#{path}sitemap/">サイトマップ</a>
								</li>
								<li class="">
									<a href="#{path}privacypoliy/">個人情報取り扱い</a>
								</li>
								<li class="">
									<a href="#{path}right/">権利について</a>
								</li>
							</ul>
						</div>

					</div>
					<div class="flex-item second-child only-sp">
						<ul class="menu footer-menu">
							<li class="menu-item">
								<a class="nav-link" href="#{path}news/">ニュース</a>
							</li>
							<li class="menu-item">
								<a class="nav-link" href="#{path}sitemap/">サイトマップ</a>
							</li>
							<li class="menu-item">
								<a class="nav-link" href="#{path}privacypoliy/">個人情報取り扱い</a>
							</li>
							<li class="menu-item">
								<a class="nav-link" href="#{path}right">権利について</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<div class="container-low">
			<span class="copy-right">Copyright© 株式会社BEX All Rights Reserved.</span>
		</div>
	</footer>