mixin contents()
	<main class="main">
		<section class="hero">
			<figure>
				<img src="#{path}images/company/img_banner.jpg" alt="企業情報">
				<figcaption>
					<h2 class="inview fadeUp">
						<span>COMPANY</span> 企業情報
					</h2>
				</figcaption>
			</figure>
		</section>
		<section class="libary-css company">
			<div class="container-low">
				<ul class="company-lists">
					<li class="company-list inview fadeUp">
						<a href="#{path}company/message/" class="company-list-wrap">
							<figure class="company-img">
								<img src="#{path}images/company/img_photo1.jpg" alt="ご挨拶">
								<div class="company-more bttn-more">
									<span>more</span>
								</div>
							</figure>
						</a>
						<div class="company-content">
							<h3 class="company-h3">
								<span class="text-en textUp font24">greeting</span>
								<span class="text-nihon fontM d-block color-blue fontSen">ご挨拶</span>
							</h3>
							<p class="font14">代表からのメッセージです。</p>
						</div>
					</li>
					<li class="company-list inview fadeUp">
						<a href="#{path}company/info/" class="company-list-wrap">
							<figure class="company-img">
								<img src="#{path}images/company/img_photo2.jpg" alt="企業概要">
								<div class="company-more bttn-more">
									<span>more</span>
								</div>
							</figure>
						</a>
						<div class="company-content">
							<h3 class="company-h3">
								<span class="text-en textUp font24">information</span>
								<span class="text-nihon fontM d-block color-blue fontSen">企業概要</span>
							</h3>
							<p class="font14">BEXの企業概要情報です。</p>
						</div>
					</li>
					<li class="company-list inview fadeUp">
						<a href="#{path}company/history/" class="company-list-wrap">
							<figure class="company-img">
								<img src="#{path}images/company/img_photo3.jpg" alt="沿革">
								<div class="company-more bttn-more">
									<span>more</span>
								</div>
							</figure>
						</a>
						<div class="company-content">
							<h3 class="company-h3">
								<span class="text-en textUp font24">History</span>
								<span class="text-nihon fontM d-block color-blue fontSen">沿革</span>
							</h3>
							<p class="font14">1980年に創立されたBEXのこれまでの道のりを<br class="break-sp"> ご紹介します。
							</p>
						</div>
					</li>
					<li class="company-list inview fadeUp">
						<a href="#{path}company/access/" class="company-list-wrap">
							<figure class="company-img">
								<img src="#{path}images/company/img_photo4.jpg" alt="沿革">
								<div class="company-more bttn-more">
									<span>more</span>
								</div>
							</figure>
						</a>
						<div class="company-content">
							<h3 class="company-h3">
								<span class="text-en textUp font24">access</span>
								<span class="text-nihon fontM d-block color-blue fontSen">アクセス</span>
							</h3>
							<p class="font14">ご来社される際にご活用ください。</p>
						</div>
					</li>
					<li class="company-list inview fadeUp">
						<a href="#" class="company-list-wrap">
							<figure class="company-img">
								<img src="#{path}images/company/img_photo5.jpg" alt="社会貢献">
								<div class="company-more bttn-more">
									<span>more</span>
								</div>
							</figure>
						</a>
						<div class="company-content">
							<h3 class="company-h3">
								<span class="text-en textUp font24">CSR</span>
								<span class="text-nihon fontM d-block color-blue fontSen">社会貢献</span>
							</h3>
							<p class="font14">BEXは事業活動を通して社会貢献も行っています。</p>
						</div>
					</li>
					<li class="company-list inview fadeUp">
						<a href="#link" class="company-list-wrap">
							<figure class="company-img">
								<img src="#{path}images/company/img_photo6.jpg" alt="新しい挑戦">
								<div class="company-more bttn-more">
									<span>more</span>
								</div>
							</figure>
						</a>
						<div class="company-content">
							<h3 class="company-h3">
								<span class="text-en textUp font24">i-ROAD</span>
								<span class="text-nihon fontM d-block color-blue fontSen">新しい挑戦</span>
							</h3>
							<p class="font14">TOYOTAのコンセプトカー「i-ROAD」の<br class="break-sp"> 設計サポートを行いました。
							</p>
						</div>
					</li>
				</ul>
			</div>
		</section>
	</main>

